.FilterMenu__container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  background-color: #232323;
  padding: 20px 0 20px;

  .FilterMenu__genre-filter {
    margin-left: 50px;
    display: flex;
    flex-direction: row;
  }

  .FilterMenu__sorting {
    .FilterMenu__sorting-title {
      font-size: 16px;
      color: #b1b1b1;
      margin-right: 20px;
    }

    .FilterMenu__sorting-dropdown {
      background-color: #232323;
      color: white;
      border: 0px;
      height: 20px;

      > option {
        border: 0px;
        height: 20px;
      }
    }

    margin-right: 50px;
  }
}
